@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
.shadow-xll{
  box-shadow: 0 0.15rem 1.75rem 0 rgba(33 40 50 / 15%);
}
.border-l-blue{
  border-left:  3px solid blue;
}