@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
.shadow-xll{
  box-shadow: 0 0.15rem 1.75rem 0 rgba(33 40 50 / 15%);
}
.border-l-blue{
  border-left:  3px solid blue;
}

.slider-container {
  height: 60px; /* or whatever height you want */
  width: 40%;
}

.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slide-in{
  animation: slide 0.3s ease-in-out;
}
.tran-l{
  transition: left 0.3s ease-in-out;
}

@keyframes slide{
  from{
    transform: translateX(-300px);
  }to{
    transform: translateX(0px);
  }
}
*{
  user-select: none;
}

.b-b{
  border: 1px solid white;
}